.paraFontSize {
  font-size: 1.5rem;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

/* ---- common css end------ */

/* header start   */

.header {
  height: 50px;
  width: 100%;
  box-shadow: 1px 0px 10px rgba(128, 128, 128, 0.782);
  font-weight: 700;

  .container {
    padding: 0 10px;
  }
}

.header .logo {
  color: blue;
  margin: auto 0;
  font-size: 25px;
}

/* ------ header end  ------ */

/* ----- page body start -------*/

.pagebody section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.pagebody section .box {
  max-width: 500px;
}

.box h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  color:white;
  text-shadow: 0px 0px 8px rgb(96, 96, 236);
}

.box p {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
  text-align: center;
}

.box input {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 10px;
}

.box span {
  color: red;
}

.editor {
  display: flex;
  flex-direction: row;
  width: 100%;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  .tweetWrapper {
    width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
    border-radius: 5px;
    min-height: 800px;

    @media screen and (max-width: 900px) {
      padding: 0px;
    }

    .tweet {
      background: white;
      padding: 30px;
      border-radius: 20px;
      transition: 0.5s;

      @media screen and (max-width: 900px) {
        padding: 20px;
      }

      .tweetUserInfo {
        display: flex;
        width: 100%;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        background: white;
        z-index: 999;
        margin-bottom: 15px;

        .profilePicWrapper {
          display: flex;
          background: white;

          .profilePic {
            height: 50px !important;
            width: 50px !important;
            margin-right: 15px;

            img {
              border-radius: 50%;
            }
          }

          .userInfo {
            display: flex;
            flex-direction: column;
            background-color: white;

            h3 {
              font-size: 1.4rem;
              margin-top: 8px;
            }

            p {
              font-size: 1.3rem;
            }
          }
        }

        .twitterIcon {
          display: grid;
          place-items: center;

        }
      }

      .tweetText {
        line-height: 3rem;
        font-size: 1rem;
        background: white;
      }

      .tweetTime {
        font-size: 13px;
        opacity: 0.7s;
        color: gray;
        line-height: 20px;
        background-color: white;
      }

      .tweetLikesRetweets {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 20px;
        background-color: white;
        font-size: 1.5rem;
        @media screen and (max-width: 900px) {
          margin-bottom: 0;
        }

        span {
          margin-right: 30px;
          display: flex;
          align-items: center;
          margin-right: 60px;
          @media screen and (max-width: 500px) {
            margin-right: 20px;
          }
        }
      }
    }
  }

  .tools {
    // border: 1px solid black;
    min-width: 400px;
    padding: 20px;

    @media screen and (max-width: 900px) {
      min-width: auto;
    }

    .backgroundOptions {
      margin-bottom: 20px;

      p {
        margin-bottom: 10px;
        font-weight: 500;
        opacity: 0.6;
      }

      .backgroundOptionsList {
        display: flex;
        justify-content: space-evenly;

        span {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: blue;
          cursor: pointer;
        }
      }
    }

    .BackgroudPicker {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font-weight: 500;

      span {
        margin-right: 10px;
        opacity: 0.7;
      }

      input {
        height: 35px;
        width: 50px;
      }
    }


    .showLikes {
      display: flex;
      margin-bottom: 30px;

      .likesCheck {
        width: 20px;
        margin-right: 20px;
      }

      .likesInfo {
        .label {
          font-size: 15px;
          font-weight: 700;
          opacity: 0.7;

        }

        p {
          font-size: 16px;
        }
      }
    }


    .tweetSize {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      font-weight: 500;

      span {
        margin-right: 10px;
        width: auto;
        white-space: nowrap;
        opacity: 0.7;
      }

      .tweetSizeRange {
        width: 100%;
      }
    }

    .editTweetText {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      gap: 10px;

      span {
        font-weight: 500;
        opacity: 0.7;
      }

      textarea {
        padding: 10px;
        width: 100%;
        border-radius: 4px;
      }
    }

    .saveButton {
      width: 100%;
      height: 40px;
      background-color: blue;
      color: white;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .downloadBtn {
      display: none;
      @media screen and (max-width: 900px) {
        display: block;
      }
    }

  }
}

.app {
  width: 100%;
  /* height: 300px; */
}

.app .box3 {
  // width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
}

.app .box3 h2 {
  margin-bottom: 47px;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.app .box3 .boxchild {
  display: flex;
  // width: 960px;
  gap: 80px;
  font-size: 1.125rem;
  line-height: 1.75rem;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

.app .box3 .boxchild1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  margin-bottom: 16px;
  background-color: rgb(26, 200, 110);
  margin : 0 auto;
}

.app .box3 .boxchild .subBox h3 {
  font-weight: 600;
  margin-bottom: 1.6rem;
  font-size: inherit;
  text-align: center;
  font-size: 2rem;
  

}

.app .box3 .boxchild .subBox p {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(115 115 115/var(--tw-text-opacity));
  text-align: center;
  font-size: 1.5rem;
}

.app .box3 .boxchild-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  margin-bottom: 16px;
  background-color: rgb(26, 200, 110);
}

.app .box3 .boxchild-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  margin-bottom: 16px;
  background-color: rgb(26, 200, 110);
}

.footer {
  height: 60px;
  color: black;
  display: grid;
  place-items: center;
}