.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 15px;
}

.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
}

/* ---- common css end------ */

/* header start   */

.header {
  height: 60px;
  width: 100%;
  box-shadow: 1px 0px 10px rgba(128, 128, 128, 0.782);
  margin-bottom: 10px;
  font-weight: 700;
}

.header .logo {
  color: blue;
  margin: auto 0;
  font-size: 30px;
}

/* ------ header end  ------ */

/* ----- page body start -------*/

.pagebody section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.pagebody section .box {
  width: 500px;
}

.box .icon {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.box h1 {
  font-size: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.box p {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  padding: 0 40px;
}

.box input {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.box span {
  color: red;
}

.editor {
  display: flex;
  width: 100%;
  height: 700px;

  .tweetWrapper {
    width: 100%;
    background: rgb(54, 22, 162);
    background: linear-gradient(90deg, rgba(54, 22, 162, 0.7357317927170868) 0%, rgba(196, 29, 253, 0.7161239495798319) 70%);
    padding: 0 10px;
    display: grid;
    place-items: center;
    .tweet {
      background-color: #fff;
      max-width: 600px;
      padding: 30px;
      border-radius: 20px;

      .tweetUserInfo {
        display: flex;
        width: 100%;
        height: 50px;
        flex-direction: row;
        justify-content: space-between;
        .profilePicWrapper {
          display: flex;
          .profilePic {
            height: 50px !important;
            width: 50px !important;
            margin-right: 15px;

            img {
              border-radius: 50%;
            }
          }
          .userInfo {
            display: flex;
            flex-direction: column;
          }
        }
        .twitterIcon {
          display: grid;
          place-items: center;
        }
      }

      .tweetText {
        padding: 30px 50px 5px 0;
        line-height: 1.75rem;
        font-size: 1.25rem;
      }

      .tweetTime {
        font-size: 13px;
        opacity: 0.5;
        color: gray;
        line-height: 20px;
        margin-bottom: 20px;
      }

      .tweetLikesRetweets {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        span {
          margin-right: 30px;
          display: flex;
          align-items: center;
          margin-right: 60px;
        }
      }
    }
  }


  .tools {
    // border: 1px solid black;
    min-width: 400px;
    padding: 20px;

    .backgroundOptions {
      margin-bottom: 30px;

      p {
        margin-bottom: 10px;
        font-weight: 500;
      }

      .backgroundOptionsList {
        display: flex;
        justify-content: space-evenly;

        span {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background-color: blue;
        }
      }
    }

    .showLikes {
      display: flex;
      margin-bottom: 30px;

      .likesCheck {
        width: 30px;
        margin-right: 20px;
      }

      .likesInfo {
        h3 {
          font-size: 15px;
          font-weight: 700;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .saveButton {
      width: 95%;
      height: 40px;
      background-color: black;
      color: white;
      outline: none;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }



  }
}





article .login {
  width: 100%;
  display: flex;
  justify-content: center;
}

article .login .box2 {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article .login .box2 p {
  padding: 0px 40px;
  margin-bottom: 30px;
}

article .login .box2 button {
  color: white;
  font-size: 20px;
  padding: 8px 24px;
  background-color: rgb(29 161 242);
  border-radius: 0.75rem;
  cursor: not-allowed;
}

.app {
  width: 100%;
  /* height: 300px; */
}

.app .box3 {
  // width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 125px;
}

.app .box3 h2 {
  margin-bottom: 47px;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

.app .box3 .boxchild {
  display: flex;
  // width: 960px;
  gap: 80px;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.app .box3 .boxchild1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  margin-bottom: 16px;
  background-color: rgb(26, 200, 110);
}

.app .box3 .boxchild .subBox h3 {
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-size: inherit;
}

.app .box3 .boxchild .subBox p {
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --tw-text-opacity: 1;
  color: rgb(115 115 115/var(--tw-text-opacity));
  ;

}

.app .box3 .boxchild-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  margin-bottom: 16px;
  background-color: rgb(26, 200, 110);
}

.app .box3 .boxchild-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  margin-bottom: 16px;
  background-color: rgb(26, 200, 110);
}

.footer {
  height: 60px;
  color: black;
  display: grid;
  place-items: center;
}